/* intranet style rules */

details[open] summary ~ * {
	animation: drop .3s ease-in-out;
}
@keyframes drop {
0%    {opacity: 0; margin-top: -1em}
100%  {opacity: 1; margin-top: 0px}
}

/* posts teaser widget */
.su-posts-teaser-loop__uw {
	padding: .5em;
	margin-bottom: 1em;
	border: 1px solid @lightgray;
	border-radius: 5px;
	max-height: 443px;
	overflow: auto;
	> div[id^=su-post-] {
		margin: 0 -.5rem;
		> details[open] {
			background-color: @ultralightgray;
			+.uw-teaser-link-date {
				background-color: @ultralightgray;
			}
		}
	}
	> div:hover,
  > div:focus,
	> div:active,
	> div:visited {
		background-color: @ultralightgray;
	}
}
.uw-teaser-link {
	font-family: @EncodeSansCompressed;
	font-weight: 600;
	font-size: 18px;
  line-height: initial;
	color: @link;
	text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
  	color: @darkgold;
  	text-decoration: underline;
  }
	&.uw-teaser-link--gray {
		margin: 0 .5rem;
		color: @darkgray;
	  &:hover,
	  &:active {
	  	color: @darkgold;
	  }}
	}
.uw-teaser-link-date {
	margin: 0;
	padding: 0 .5rem;
  color: @mediumdarkgray;
  font-size: 12px; }
.uw-teaser-details-content {
	overflow: auto;
  background-color: @ultralightgray;
  padding: .5em;
	border-radius: 5px;
	&.uw-teaser-details-content--white {
	  background-color: @white; }
  p:last-of-type {
    margin-bottom: 0;
  }}

.uw-teaser-view-more {
	color: @link;
	font-weight: initial;
	font-size: 14px;
	margin-bottom: 1em;
	font-family: inherit;
	text-decoration: none;
  cursor: pointer;
	&:hover,
	&:active {
		color: @darkgold;
		text-decoration: underline;
	}}
/* END posts teaser widget */

/* meetings teaser loop */
.uwdgh-meeting-teaser-loop {
  padding: .5em;
	margin-bottom: 1em;
  background-color: @tan;
	border: 1px solid @lightgray;
	border-radius: 5px;
	max-height: 443px;
	overflow: auto;
  .uwdgh-meeting-post {
    margin-bottom: 14.5px;
    summary {
      font-family: @EncodeSansCompressed;
      font-weight: 600;
      text-decoration: none;
			margin-bottom: .5em;
      &:hover,
      &:active {
      	text-decoration: underline;
      }
    }
  }
}
/* END meetings teaser loop */

/* post tags */
.uwdgh-tag-container {
  margin: 1em 0; }
.uw-tag {
  padding: 1px 3px;
  background-color: @purple;
  border-radius: 3px;
  a[rel=tag] {
    text-decoration: none;
    color: @white;
    &:hover,
    &:active {
      color: @lightgold;
    }
  }
}
/* END post tags */

/* teaser block rss links */
.rss {
	display: inline-block;
	vertical-align: top;
	.rss-link {
		text-indent: -9999px;
	  background: url(assets/png/rss-basic-icon.png) no-repeat 0 0 transparent;
		background-size: contain;
		width: 16px;
		position: absolute;
	}
}
/* END teaser block rss links */

/* uw-footer */
.uw-footer {
  background: url(assets/footer/footer.jpg) center bottom;
  background-repeat: no-repeat;
  background-size: cover;
	ul.footer-social {
		li {
			a.smugmug {
				background: url(assets/svg/smugmug-uw-white.svg) no-repeat 0 11.5px transparent;
				&:hover,
				&:focus {
					background: url(assets/svg/smugmug-brand.svg) no-repeat 0 11.5px transparent;
				}
			}
		}
	}
}
/* END uw-footer */

/* END intranet style rules */
