/*
Theme Name:   UW Dept of Global Health intranet
Theme URI:    https://bitbucket.org/uwdgh_elearn/dgh-intranet
Template:     uw-2014
Text Domain:  uwdgh
Author:       dghweb, Department of Global Health - University of Washington
Author URI:   https://depts.washington.edu/dghweb/
Description:  UW Boundless child-theme for the Department of Global Health intranet.
Version:      0.4.7.20
Created on:   April 16, 2020
Updated on:   July 1, 2024
Document:     style
Bitbucket Theme URI: https://bitbucket.org/uwdgh_elearn/dgh-intranet
*/
/* uw-2014 style fixes */
.cards-widget .enhanced-card p {
  position: relative;
}
.cards-widget .boundless-card h3 {
  position: relative;
}
.cards-widget .boundless-card p {
  position: relative;
}
/* END uw-2014 style fixes */
/* uw-thinstrip */
.uw-thinstrip .uw-wordmark {
  background: url(assets/png/DeptGlobalHealth_DeptSigs-Stack-White.png) no-repeat 0 0 transparent;
  background-size: contain;
  top: 6px;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-Left-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 335px;
    top: 9px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 60px;
    top: 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWStack-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -10px;
    height: 70px;
    left: 150px;
    transform: none;
  }
}
@media only screen and (min-width: 1440px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 450px;
    top: -2px;
    height: 70px;
  }
}
/* END uw-thinstrip */
/* dawgdrops class modifier */
.dawgdrops-item--gold a {
  color: #85754d;
}
.dawgdrops-item--gold a:hover,
.dawgdrops-item--gold a:focus {
  color: #4b2e83 !important;
}
/* END dawgdrops */
/* uw-footer */
.uw-footer .footer-wordmark,
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/footer/UW-DGH-logo-reversed-centered.png) no-repeat 0px 0px transparent;
  height: 100px;
  background-size: 335px;
}
/* END uw-footer */
/* uw-hero-slideshow */
.page-template-template-slideshow-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height {
  margin-bottom: 40px;
  height: 410px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height {
    height: 350px;
    padding: 0;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow {
  height: 0;
}
@media only screen and (max-width: 767px) {
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
  margin-top: 0;
  height: 450px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
    height: 390px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
    justify-content: initial;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
  opacity: 0.9;
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
    padding-bottom: 10px;
    padding-right: 90px;
    padding-top: 10px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:hover,
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:active {
  color: #b7a57a;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div p {
    font-size: 80%;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 15px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    padding-top: 40px;
    font-size: 45px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
  height: 450px;
  opacity: 0.1;
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
    height: 390px;
    opacity: 0.1;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container .udub-slant {
    display: none;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider {
  height: 350px;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 433px !important;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
    height: 433px !important;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider div.slide div {
  background-color: #4b2e83;
  opacity: 0.9;
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider .has-text::after {
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
  bottom: 43px;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
    width: 200px;
  }
}
.page-template-template-slideshow-hero.activeFullscreen .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 100% !important;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END uw-hero-slideshow */
/* template-video-hero */
.page-template-template-video-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height {
  height: 480px;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    padding: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video {
    height: 480px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
  object-fit: cover;
  height: 480px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
    height: 640px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
  color: #ffffff;
  font-family: "Encode Sans Compressed", sans-serif;
  font-size: 21px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}
@media only screen and (max-width: 359px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.2;
  }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -460px;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -530px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -650px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 60px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
  height: 480px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 670px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 520px;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END template-video-hero */
/* intranet style rules */
details[open] summary ~ * {
  animation: drop 0.3s ease-in-out;
}
@keyframes drop {
  0% {
    opacity: 0;
    margin-top: -1em;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
/* posts teaser widget */
.su-posts-teaser-loop__uw {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  max-height: 443px;
  overflow: auto;
}
.su-posts-teaser-loop__uw > div[id^=su-post-] {
  margin: 0 -0.5rem;
}
.su-posts-teaser-loop__uw > div[id^=su-post-] > details[open] {
  background-color: #f5f5f5;
}
.su-posts-teaser-loop__uw > div[id^=su-post-] > details[open] + .uw-teaser-link-date {
  background-color: #f5f5f5;
}
.su-posts-teaser-loop__uw > div:hover,
.su-posts-teaser-loop__uw > div:focus,
.su-posts-teaser-loop__uw > div:active,
.su-posts-teaser-loop__uw > div:visited {
  background-color: #f5f5f5;
}
.uw-teaser-link {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: initial;
  color: #0074bb;
  text-decoration: none;
  cursor: pointer;
}
.uw-teaser-link:hover,
.uw-teaser-link:active {
  color: #85754d;
  text-decoration: underline;
}
.uw-teaser-link.uw-teaser-link--gray {
  margin: 0 0.5rem;
  color: #5A5A5A;
}
.uw-teaser-link.uw-teaser-link--gray:hover,
.uw-teaser-link.uw-teaser-link--gray:active {
  color: #85754d;
}
.uw-teaser-link-date {
  margin: 0;
  padding: 0 0.5rem;
  color: #9E9E9E;
  font-size: 12px;
}
.uw-teaser-details-content {
  overflow: auto;
  background-color: #f5f5f5;
  padding: 0.5em;
  border-radius: 5px;
}
.uw-teaser-details-content.uw-teaser-details-content--white {
  background-color: #ffffff;
}
.uw-teaser-details-content p:last-of-type {
  margin-bottom: 0;
}
.uw-teaser-view-more {
  color: #0074bb;
  font-weight: initial;
  font-size: 14px;
  margin-bottom: 1em;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}
.uw-teaser-view-more:hover,
.uw-teaser-view-more:active {
  color: #85754d;
  text-decoration: underline;
}
/* END posts teaser widget */
/* meetings teaser loop */
.uwdgh-meeting-teaser-loop {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #eeeadf;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  max-height: 443px;
  overflow: auto;
}
.uwdgh-meeting-teaser-loop .uwdgh-meeting-post {
  margin-bottom: 14.5px;
}
.uwdgh-meeting-teaser-loop .uwdgh-meeting-post summary {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 0.5em;
}
.uwdgh-meeting-teaser-loop .uwdgh-meeting-post summary:hover,
.uwdgh-meeting-teaser-loop .uwdgh-meeting-post summary:active {
  text-decoration: underline;
}
/* END meetings teaser loop */
/* post tags */
.uwdgh-tag-container {
  margin: 1em 0;
}
.uw-tag {
  padding: 1px 3px;
  background-color: #4b2e83;
  border-radius: 3px;
}
.uw-tag a[rel=tag] {
  text-decoration: none;
  color: #ffffff;
}
.uw-tag a[rel=tag]:hover,
.uw-tag a[rel=tag]:active {
  color: #b7a57a;
}
/* END post tags */
/* teaser block rss links */
.rss {
  display: inline-block;
  vertical-align: top;
}
.rss .rss-link {
  text-indent: -9999px;
  background: url(assets/png/rss-basic-icon.png) no-repeat 0 0 transparent;
  background-size: contain;
  width: 16px;
  position: absolute;
}
/* END teaser block rss links */
/* uw-footer */
.uw-footer {
  background: url(assets/footer/footer.jpg) center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.uw-footer ul.footer-social li a.smugmug {
  background: url(assets/svg/smugmug-uw-white.svg) no-repeat 0 11.5px transparent;
}
.uw-footer ul.footer-social li a.smugmug:hover,
.uw-footer ul.footer-social li a.smugmug:focus {
  background: url(assets/svg/smugmug-brand.svg) no-repeat 0 11.5px transparent;
}
/* END uw-footer */
/* END intranet style rules */
